page-episode {

    ion-content {
        background-color: #ffffff !important;
    }

    ion-icon{
color: #fff;
}

    .player {
        margin-top: -0.35vh;
    }

    .style {
        color: #66757f;
    }

    h6 {
        color: #66757f;
        font-family: home;
    }

    .date {
        font-family: home;
        margin-top: -1vh;
    }

    p {
        font-family: home;
        padding: 0 20px 0 0px;
    }

}
