page-memberspasscode {

div.scroll-content{
    font-weight: light;
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
  }
      ion-icon{
color: #fff;
}

  ion-card {
    border-radius: 12px !important;
  }
  
  ion-card {
    margin-top: 25% !important;
    font-size: 15rem;
    color: map-get($colors, primary);
    background-color: map-get($colors,light);
    text-align: center;
  }

   ion-card div.card-footer  {
    background-color: map-get($colors,primary);
    color: map-get($colors,light);
    font-size: 1.2em !important;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  ion-card div.card-footer button  {
    background-color: map-get($colors,primary);
    color: map-get($colors,light);
    font-size: 1em !important;
    font-style: bold;
  }


}
