page-music {

      ion-content {
        background-color: #3A393B !important;
    }

    p {
        margin-top: -1vh !important;
        color: #FAFAFA;
    }

    ion-card {
        background-color: #f57c00 !important;
         font-size: 20px !important;
        color: #FAFAFA !important;
        font-family: test;
    }

    .border {
        border-radius: 0px 0px 10px 10px;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    }
    .ww{
        color: #FAFAFA;
    }

}
