page-connect {

    ion-content {
        background-color: #1d2033 !important;
    }
     ion-icon{
color: #fff;
}

    h1 {
        color: #fff;
    }

    .text {
        color: #fff;
        //font-family: font-regular;
        font-size: 14px;
        margin-top: 2vh;
    }

}
