page-devotion {

.border {
        //border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 1px 0px #2b2b4a;
        height: 75px;
      
    }
    .t{
        text-align: center;
      margin-top: 3.4vh;
        //position: absolute;
        font-size: 20px;
        color: #212059;
    }

    ion-icon{
        color: #fff;
    }

}
