page-sermonsdownload {

ion-content {
        background-color: #ffffff !important;
    }

    .border {
        border-radius: 1px 1px 1px 1px;
        box-shadow: 2px 2px 3px 0px #ccc;
    }
    
    ion-card-title {
        font-size: 20px !important;
        color: #3A393B !important;
        height: 10px;
    }

    ion-row {
        margin-top: -1vh;
    }

    .branch {
        font-family: font-book;
    }

    ion-col {
        color: #3A393B !important;
        height: 25px;
    }

    .iconStyle {
        font-size: 22px;
        color: #FC4A19;
    }

    a {
        text-decoration: none;
    }
    .register {
        width: 75%;
        margin-top: -1.5vh;
        margin-left: 12%;
        color: #66757f;
        background-color: #ffffff;
        font-size: 13px;
         font-family:home;
    }
    ion-icon{
color: #fff;
}

  [text-color="mywhite"]{
        color:white;
    }

.linkwrap{
    position: relative;
    display: inline-block;
}

.blocker{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.linkwrap iframe{
    z-index: 2;
}

}
